<html>
<head>
    <title>BPGO ACEF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#<link rel="icon" type="image/png" href="https://assets.oneweb.mercedes-benz.com/global/1.9.0/favicon/favicon-32x32.png" />#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link href='{{ base_url() }}/css/inscription.css' rel='stylesheet' type='text/css'>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
<br>
<br>
<div class="columns is-mobile">
    <div class="column is-8-desktop is-offset-2-desktop is-10-tablet is-offset-1-tablet is-10-mobile is-offset-1-mobile" style="background-color: white;border-radius: 40px;">
            <div style="background-color: white;width: 97%;margin: auto;">
                <div style="text-align: center;">
                    <h1>SOIRÉE <strong style="color:#06A6C1">FONCTION PUBLIQUE</strong></h1>
                    <br>
                    <div class="columns is-mobile">
                        <div class="column is-6-desktop is-offset-3-desktop is-8-tablet is-offset-2-tablet is-10-mobile is-offset-1-mobile">
                            <img src='{{ base_url() }}/img/separator.png'>
                        </div>
                    </div>
                    <br>
                    <div class="columns is-mobile">
                        <div class="column is-6-desktop is-offset-3-desktop is-8-tablet is-offset-2-tablet is-10-mobile is-offset-1-mobile">
                        <h2 style="background-color: #06A6C1;padding: 10px">
                            <span style="font-size: 25px"><strong style="color: #ffffff;text-transform: uppercase;">Jeudi 31 mai 2018 à 18h30</strong></span>
                        </h2>
                        </div>
                    </div>
                    <p style="margin-top: -15px;"><strong style="color:#0E3885">Centre de vacances ANAS - Tréveneuc</strong></p>
                    <br />
                    <h1 style="font-size: 35px"><strong style="color:#06A6C1">INSCRIPTION</strong></h1>
                    <br>
                    <form action="{{ path_for('inscriptio') }}" method="post">
                        <input type="hidden"  name="hash" value="{{ invite.hash }}">
                        <div class="columns is-mobile">
                            <div class="column is-10 is-offset-1">
                                <div class="columns">
                                    <div class="column is-12-mobile">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="text" placeholder="CIVILITÉ" name="civ" value="{{ invite.civ }}" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="text" placeholder="PRENOM" name="prenom" value="{{ invite.prenom }}" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="text" placeholder="NOM" name="nom"  value="{{ invite.nom }}" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="text" placeholder="EMAIL"  name="email" value="{{ invite.email }}" required>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="text" placeholder="TELEPHONE" name="tel" value="{{ invite.telPortable }}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-12-mobile">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="text" placeholder="ENTREPRISE" name="entreprise" value="{{ invite.entreprise }}" required>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="text" placeholder="FONCTION" name="fonction" value="{{ invite.fonction }}" >
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="text" placeholder="SECTEUR D'ACTIVITÉ" name="secteurActivite" value="{{ invite.secteurActivite }}" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="columns is-mobile">
                            <div class="column is-10 is-offset-1">
                                <div class="columns is-mobile">
                                    <div class="column">
                                        <h2 class="label" style="text-align: left;color:#0E3885">Êtes-vous client à la Banque Populaire Grand Ouest ?*</h2>
                                    </div>
                                    <div class="column">
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control">
                                                    <label class="checkbox" style="vertical-align: bottom;color:#0E3885">
                                                        <input type="radio" id="btnOui" name="client" value="1" checked/>
                                                        Oui
                                                    </label>
                                                    &nbsp
                                                    &nbsp
                                                    &nbsp
                                                    <label class="checkbox" style="vertical-align: bottom;color:#0E3885">
                                                        <input type="radio" id="btnNon" name="client" value="0"/>
                                                        Non
                                                    </label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="columns is-mobile">
                                    <div class="column">
                                        <h2 class="label" style="text-align: left;color:#0E3885">Je ne participerai pas mais je souhaite
                                            recevoir le lien de la conférence* :</h2>
                                    </div>
                                    <div class="column">
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control">
                                                    <label class="checkbox" style="vertical-align: bottom;color:#0E3885">
                                                        <input type="radio" id="btnOui" name="lienConf" value="1" checked/>
                                                        Oui
                                                    </label>
                                                    &nbsp
                                                    &nbsp
                                                    &nbsp
                                                    <label class="checkbox" style="vertical-align: bottom;color:#0E3885">
                                                        <input type="radio" id="btnNon" name="lienConf" value="0"/>
                                                        Non
                                                    </label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="columns is-mobile">
                                    <div class="column">
                                        <h2 class="label" style="text-align: left;color:#0E3885">Je participe à la Conférence* :</h2>
                                    </div>
                                    <div class="column">
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control">
                                                    <label class="checkbox" style="vertical-align: bottom;color:#0E3885">
                                                        <input type="radio" id="btnOui" name="participe" value="1" checked/>
                                                        Oui
                                                    </label>
                                                    &nbsp
                                                    &nbsp
                                                    &nbsp
                                                    <label class="checkbox" style="vertical-align: bottom;color:#0E3885">
                                                        <input type="radio" id="btnNon" name="participe" value="0"/>
                                                        Non
                                                    </label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="columns is-mobile">
                            <div class="column is-6-desktop is-offset-3-desktop is-10-tablet is-offset-1-tablet is-10-mobile is-offset-1-mobile">
                                <button type="submit" style="border:none;background-color: #FF6A08;font-size: 30px;width: 100%;padding: 10px 0px"><strong style="color:#ffffff">JE M'INSCRIS</strong></button>
                            </div>
                        </div>
                    </form>
                    <br />
                    <div class="columns is-mobile">
                        <div class="column" style="text-align: left;margin-left: 50px;margin-top: 15px">
                            <img src='{{ base_url() }}/img/LOGO_ACEF_Cotes_Armor_2.png' width="120">
                        </div>
                        <div class="column" style="text-align: right;margin-right: 40px;">
                            <img src='{{ base_url() }}/img/BP_Grand_Ouest_D.png' width="300">
                        </div>
                    </div>
                    <div class="columns is-mobile">
                        <div class="column is-8-desktop is-offset-2-desktop is-10-tablet is-offset-1-tablet is-10-mobile is-offset-1-mobile">
                                <img src='{{ base_url() }}/img/separator.png'>
                        </div>
                    </div>
                    <br />
                    <div class="column is-10 is-offset-1">
                        <div class="columns" style="text-align: justify;font-size: 11px;color:#949599">
                    <p>Cet événement peut faire l'objet de prises de vues photographiques et/ou vidéos
                        susceptibles d'être diffusées au public dans le cadre de la promotion de l'événement
                        proposée par la Banque Populaire Grand Ouest et l'ACEF et ce pour une durée indéterminée.
                        En participant à l'événement, vous acceptez d'être photographié(e) et/ou filmé(e).
                        Si malgré tout vous ne souhaitiez pas être photographié(e) et/ou filmé(e), nous
                        vous remercions de l'indiquer à l'un des représentants de la Banque Populaire
                        Grand Ouest ou de l'ACEF présents sur les lieux.
                        <br />Les données à caractère personnel demandées sont obligatoires pour l'organisation
                        de l'événement et font l'objet d'un traitement notamment informatisé par la Banque
                        Populaire Grand Ouest. A défaut de communication de ces données, votre participation
                        ne pourrait être prise en compte. Les données recueillies sont également utilisées
                        par Banque Populaire Grand Ouest pour réaliser des actions de démarchage commercial.
                        <br/> Les données à caractère personnel sont conservées pendant une durée maximale
                        de 3 ans et sont exclusivement destinées à la Banque Populaire Grand Ouest, responsable
                        du traitement. Conformément au règlement général sur la protection des données
                        à caractère personnel du 27 avril 2016, tout participant dispose d’un droit d'accès,
                        de rectification, d’opposition, d’effacement et de limitation aux données le
                        concernant en s’adressant par écrit au Service Relations Clients de la Banque
                        Populaire Grand Ouest 15 boulevard de la Boutière – CS 26858 35768 Saint-Grégoire
                        cedex, ou par e-mail adressé à BPGO_SERVICE_RECLAMATIONS_CLIENTS@bpgo.fr.
                        <br /> Vous disposez également d’un droit d’introduire une réclamation auprès d’une
                        autorité de contrôle en charge de la protection des personnes physiques à l’égard
                        du traitement des données à caractère personnel. En France, l’autorité de contrôle
                        est la Commission Nationale de l’Informatique et des Libertés (CNIL) 3 Place
                        de Fontenoy TSA 80715 75334 PARIS Cedex 07. Vous êtes informé que vous disposez
                        du droit à vous inscrire sur une liste d’opposition au démarchage téléphonique.
                        Toutefois, malgré cette inscription, vous pouvez être démarché par téléphone
                        dès lors qu’il existe des relations contractuelles pré-existantes.</p>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
    </div>
</div>
<br />
<script>
    /*
    function displayOff(){
        document.getElementById('divAccompagnant').style.display ='none';
        document.getElementById('acc_nom').required=false;
        document.getElementById('acc_prenom').required=false;
        document.getElementById('acc_email').required=false;
        document.getElementById('acc_tel').required=false;
        document.getElementById('acc_cp').required=false;
        document.getElementById('acc_ville').required=false;
    }
    function displayOn(){
        document.getElementById('divAccompagnant').style.display = 'block';
        document.getElementById('acc_nom').required=true;
        document.getElementById('acc_prenom').required=true;
        document.getElementById('acc_email').required=true;
        document.getElementById('acc_tel').required=true;
        document.getElementById('acc_cp').required=true;
        document.getElementById('acc_ville').required=true;
    } */
</script>
</body>
</html>

